<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索首页</title>
</head>
<body>

<!--action:提交至服务器地址-->
<h1>GET</h1>
<form action="/search1" method="get">
    <input type="text" name="searchKey">
    <input type="submit" value="搜索">
</form>
<br>
<h1>POST</h1>
<form action="/search1" method="post">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="登录">
</form>
</body>
</html>